.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.list-group-item:hover {
  background-color: #6c757d;
  color: white;
  cursor: pointer;
}
